# 忽略所有test开头的文件夹、文件
test*/
test*

# Python 通用忽略
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/
.env
*.log

# Flutter 通用忽略
build/
.ios/
.android/
.flutter-plugins
.pub/
.pubspec.lock
.DS_Store

# 原始数据集仅本地保留，不上传远程仓库
datasets/

#本地单元测试样本仅本地保留，不上传远程仓库
test_sample/

# ===================== （第二周单元测试覆盖率） =====================
# Pytest 运行缓存
.pytest_cache/

# Coverage 覆盖率统计产物
*.coverage
htmlcov/

